body{
    background-image: url("https://images.yodibujo.es/_uploads/wallpaper/18182_capture.jpg");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}